{:name "ErgoEmacs Qwerty keybindings"
 :author "Avicenna"
 :version "0.0.1"
 :source "https://github.com/mavbozo/LightTable-ErgoEmacs"
 :desc "ErgoEmacs Qwerty keybindings for Light Table"
 :behaviors "plugin.behaviors"}
